body {
    background: orange;
}

#Title{
    color: blue;
    text-align: center;
    font-size: 60px;
}

.basicInfo {
    text-align: center;
}

.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 225;
    height: 225;
}

.progressImage {
    display: block;
    width: 200;
    height: 400;
}

li {
    margin-right: 40%;
    font-size: 17px;
}

h2 {
    color: rgba(0, 81, 255, 0.788);
    font-size: 25px;
}

