body {
    background: orange;
}

#Title{
    color: blue;
    text-align: center;
    font-size: 60px;
}

.basicInfo {
    text-align: center;
}

.centerImage {
    display: block;
    text-align: center;
}
